:root {
/* The whole system is based on the basline grid I created for me sketch. So initially thats why all the variables are filled         */

--base-unit: 1rem;

/*font weight*/

--weight-regular: 400;
--weght-medium: 500;
--weight-bold:600;

/* color system  */



--color-footer-text:#203952;
--color-text-body:#CCCBCB;

--color-link-background:#0000FF;
--color-link-text:white;

--color-figure-tag:#FF0004;

--color-author-background:white;
--color-author-text:black;


--color-figure-background:#0000FF ;
--color-figure-text:white;
--color-figure-label-background:white;
--color-figure-label-text:#0000FF ;
--color-figure-panel: #0b0b9e;
--color-panel-description:#c9bab5;


--color-vocab-background:#FF0004;
--color-vocab-text:white;
--color-vocab-label-background:white;
--color-vocab-label-text:#FF0004;
--color-vocab-panel:#612E15;

--color-quote-text:#FF0004;
--color-cite-text:#FF0004;
--color-cite-background:#fbfbfb;

--color-footer-text:white;

--color-button-background:#FF0004;
--color-button-text:white;

/*font families */

--font-sans-body: "IBM Plex Sans", Arial, sans-serif;
--font-mono: "IBM Plex Mono", "Courier New",monospace;
--font-grarmond: "EB Garamond", Georgia,serif;
--font-instrument: "Instrument Serif", Georgia, Serif;
--font-start: "Pirate One", Times new Rome, Serif;




--radius-chip: calc(var(--space-chip-padding-iline) * 1);
--radius-button: calc(var(--radius-chip) * 1);
--radius-module: calc(var(--space-module-paddig) * 1.25);
--radiu-pae: calc(var(--space-module-paddig) * 1);


/* measure line length */

--measure-body: 55ch;
--measure-title: 20ch;
--measure-quote: 55ch;




/*type size system*/

--text-heading-title:2.5rem ;
--text-article-body-paragraph: 1.25rem;
--text--article-body--lead:2.5rem;
--text-article-body-pullquote:4.5;
--text-heading-one: 1.5rem;

--text-quoteblock-quote:2.5rem;

--text-header-subtext:1rem;


/* line height calculations */


/*Margin */

--space-paragraph-bottom: calc(var(--base-unit) * 2.5);
--space-headig-bottom: calc(var(--space-paragraph-bottom) * 0.5);
--space-quote-text-bottom: calc(var(--space-heading-bottom) * 1);
--space-subsection-bottom: calc(var(--space-paragraph-bottom) * 1.5);
--space-article-section-bottom: calc(var(--space-paragraph-bottom) * 2);
--space-intro-bottom: calc(var(--space-article-section-bottom)* 1);
--space-quote-top: calc(var(--space-article-section-bottom) * 1);
--space-quote-bottom: calc(var(--space-quote-top) * 1);
--space-article-bottom: calc(var(--space-quote-top) * 1.5);

/* Header */

--space-heading1-bottom: calc(var(--space-heading-bottom) * 1);
--space-author-bottom: calc(var(--space-heading1-bottom) * 0.4);
--space-time-bottom: calc(var(--space-author-bottom) * 1);
--space-page-top: calc(var(--space-heading1-bottom) * 3);
--space-header-bottom: calc(var(--space-quote-top) * 1);




/* padding */

--space-chip-padding-block: calc(var(--space-paragraph-bottom) * 0.1);
--space-chip-padding-inline: calc(var(--space-chip-padding-block)0.2);


/*Button  */

--space-button-padding-block: calc(var(--space-chip-padding-block) * 2);
--space-button-padding-inline: calc(var(--space-chip-padding-inline) * 2);


--space-module-padding: calc(var(--space-paragraph-bottom) * 0.4);
--space-pael-padding-block: calc(var(--space-module-padding) * .75);
--space-pael-paddig-inline: calc(var(--space-module-padding) * 1.5);


--space-page-iline: calc(var(--space-subsection-bottom) * 1);
--space-quote-paddig-inline: calc(var(--space-article-section-bottom) * 1.5);





}

/* The body element where all the amin styles are captured.   */
body{

	/* spacing */
	--space-page-top: calc(var(--space-heading1-bottom) * 3);



	background-color: var(--color-page-background);
	font-size:var(--text-article-body-paragraph);
	line-height:1.75rem;
	padding-inline:var(--space-page-inline);
	padding-block-start:var(--space-page-top);
	font-family:"IBM plex sans";
	color:rgb(204, 203, 203);
}

/* global styles */

a{

	background-color:#0000FF;
	font-family:"IBM plex mono";
	color:#f3f607;
	padding-block:var(--space-chip-padding-block);
	padding-inline:var(--space-chip-padding-inline);
	border-radius:.5rem;
}

em{

	color:#FF0004;
	font-style:italic;
}

h2{
	--space-heading-bottom: calc(var(--space-paragraph-bottom) * .5);
	font-size:var(--text-heading-one);
	background-color: var(--color-main);
	display:inline-block;
	color:white;
	font-family: "IBM Plex sans";
	font-weight:500;
	padding-block:var(--space-chip-padding-block);
	padding-inline:var(--space-chip-padding-inline);
	margin-block-end:var(--space-heading-bottom);
}

blockquote{
	--space-quote-top: calc(var(--space-article-sectio-bottom) * 2);
	--space-quote-bottom: calc(var(--space-quote-top) * 1);
	text-align:center;
	padding-inline-start:var(--space-quote-padding-iline);
	padding-inline-end:var(--space-quote-paddig-inline);
	padding-inline-end:4lh;
	margin-block-start:var(--space-quote-top);
	margin-block-end:var(--space-quote-bottom);





}

header{

	--space-header-bottom: calc(var(--base-unit)* 10);
	margin-block-end:var(--space-header-bottom) ;
	text-align: right;
}

/*  Begining of HEADER */


header > h1 {

	--space-heading1-bottom: calc(var(--space-heading-bottom) * 1);
	font-size: var(--text-heading-title);
	padding-inline-start:60rem;
	line-height:2.75rem;
	font-family: "Eb Garamond";
	margin-block-end:var(--space-heading1-bottom);
}



header > time {

	--space-time-bottom: calc(var(--space-author-bottom) * 1);
	font-size:var(--text-header-subtext);
	margin-block-end:var(--space-time-bottom);
}

header > p {

	--space-author-bottom: calc(var(--space-heading1-bottom)/3);
	margin-block-end:var(--space-author);
}

header > p > a {

	background-color:white;
	color:black;
}

/*Ending of Header */


/*article body*/






/*article body end */

article{
	--space-article-bottom: calc(var(--space-quote-top) * 1.5);
	margin-block-end:var(--space-article-bottom);
}




article > section{
	--space-article-section-bottom: calc(var(--space-paragraph-bottom) * 2);
	margin-block-end: var(--space-article-section-bottom);
}

.intro-paragraph{
	--space-intro-bottom: calc(var(--space-article-section-bottom)*1);
	margin-block-end:var(--space-intro-bottom);
	font-size:var(--text--article-body--lead);
	line-height:2.5rem;
	font-family: "Instrument Serif"
}



.start{

	float:left;
	background-color:var(--color-main);
	height:20rem;
	width:20rem;
	color:white;
	font-size: 16rem;
	text-align:center;
	line-height:20rem;
	font-family:"Pirata One";
	border-radius: .25rem;
	margin-inline-end: 1rem;
}

article > section > section{
	--space-subsection-bottom: calc(var(--space-paragraph-bottom) * 1.5);
	margin-block-end:var(--space-subsection-bottom);
}

article >section > section > p {
	--space-paragraph-bottom: calc(var(--base-unit) * 2.5);
	margin-block-end:var(--space-paragraph-bottom);
}

/* article >  article body */


.text-body{

	display:inline-block;
	max-width:50%;
	margin-inline-end:8%;
}

.test-column{
	display:inline-block;
	width:40%;
	border-color: #0000FF;
}

/* article > article body > call out modules*/

/* figure modules */

.module {
	--space-module-bottom: calc(var(--base-unit));
	background:#0000FF;
	border-radius: 1.25rem;
	padding-block: var(--space-module-padding);
	padding-inline:var(--space-module-padding);
	width: 100%;
	margin-block-end:var(--space-module-bottom);

}

.module-summary{

	list-style:none;
}

.type-label{
	--space-label-bottom:calc(var(--base-unit) * 0.5);
	display:inline-block;
	background:white;
	padding-block:var(--space-chip-paddig-block);
	padding-inline:var(--space-chip-padding-inline);
	color:#0000FF;
	font-family: "IBM Plex Mono";
	font-size:.75rem;
	line-height:1.25;
	text-align: center;
	margin-block-end: var(--space-label-bottom);

}

.type-text{

	color:white;
	font-family: "IBM Plex Sans";
	font-size:1.75rem;
	line-height:2rem;
	font-weight:500rem;
	letter-spacing: -0.125;


}

.expanded{
	--space-panel-top: calc(var(--base-unit));
	background-color:#0b0b9e;
	padding-block:var(--space-pael-padding-block);
	padding-inline:var(--space-pael-paddig-inline);
	border-radius:1rem;
	margin-block-start:var(--space-panel-top);
}

.expanded-source{
	--space-source-bottom: calc(var(--base-unit));
	color:white;
	margin-block-end: var(--space-source-bottom);
	font-family: "IBM Plex Mono";
	font-size: 1rem;
	line-height:1.25rem;
	font-weight:400;


}
.expanded-description{


	color: #c9bab5;
	font-family: "IBM Plex Sans";
	font-size:.75rem;
	line-height:1rem;



}



/* vocab modules */

.vocab{

	background-color:#FF0004;
	color:white;
	border-radius:.5rem;
	padding-block:var(--space-chip-padding-block);
	padding-inline:var(--space-chip-padding-inline);
}


.vocab-module{
	--space-module-bottom: calc(var(--base-unit) * 1);
	background:#FF0004;
	border-radius: 1.25rem;
	padding-block: var(--space-module-padding);
	padding-inline:var(--space-module-padding);
	width: 100%;
	margin-block-end:var(--space-module-bottom);






}

.vocab-label2{
	--space-label-bottom: calc(var(--base-unit) * .5);
	display:inline-block;
	background:white;
	color:#FF0004;
	padding-block:var(--space-chip-padding-block);
	padding-inline:var(--space-chip-padding-inline);


	font-family: "IBM Plex Mono";
	font-size:.75rem;
	line-height:1.25;
	text-align: center;
	margin-block-end: var(--space-label-bottom);

}


.vocab-text2{

	color:white;
	font-family: "IBM Plex Sans";
	font-size:1.75rem;
	line-height:2rem;
	font-weight:500rem;
	letter-spacing: -0.125;


}

.vocab-expanded{
	--space-panel-top: calc(var(--base-unit));
	background-color:#612E15;
	padding-block:var(--space-panel-padding-block);
	padding-inline:(var(--space-pael-paddig-inline));
	border-radius:1rem;
	margin-block-start:var(--space-panel-top);

}

/* end of vocab and figure module */

/* article body > Quoteblocks */


blockquote > p{


--space-quote-text-bottom: calc(var(--space-heading-bottom) * 1);
font-size: 2.5rem;
color:#FF0004;
line-height:2.5rem;
margin-block-end:var(--space-quote-text-bottom);
font-family: "Eb Garamond";


}

blockquote > cite{

	display:inline-block;
	font-size:1.25rem;
	color:#FF0004;
	background-color:#fbfbfb;
	font-weight:500;
	font-family:"Instrument Serif";
	padding-block:var(--space-chip-padding-block);
	padding-inline:var(--space-chip-padding-inline);




}



/* end of quoteblocks */


/* Footer Bibliography original article */

footer > section > ol > li {
	--space-footer-citation-bottom: calc(var(--base-unit));
	margin-block-end:var(--space-footer-citation-bottom);





}

h6{

	font-weight:600;
	color:white;

}

/* End of Footer Bibliography original article */

/* Footer Bibliography My response */

#response-footer{

	text-align: center;

}

#response-footer > a{
	--space-footer-link-bottom: calc(var(--base-unit));
	display:inline-block;
	background: transparent;
	color:white;
	text-decoration:underline;
	margin-block-end:var(--space-footer-link-bottom);

}

#response-footer > p{


	font-size:.75rem;


}

button{
	--space-button-top:calc(var(--base-unit) * 1.5);
	margin-block-start:var(--space-button-top);
	background-color:#FF0004;
	color:white;
	padding-block:var(--space-button-padding-block);
	padding-inline:var(--space-button-padding-inline);
	border-radius:.5rem;

}

/* End of Footer Bibliography My response */


/* end of Bibliography */


































