:root {
/* The whole system is based on the basline grid I created for me sketch. So initially thats why all the variables are filled         */



--base-unit: 4px;





/* color system  */



--main-color:#0000FF;

--color-page-background:#FFFFFF;

--color-text-body: #1C1B1B;

--color-text-heading: #EEEEEE;





/*type size system*/

--text-heading-title:4.5rem ;
--text-article-body-paragraph: 1rem;
--text--article-body--lead:4.5rem;
--text-article-body-pullquote:4.5;
--text-heading-one: 1.75rem;




/* padding and margin*/




}
